body {
  background:#9AE4E8 url(http://assets2.twitter.com/images/bg.gif) no-repeat fixed left top;
}

#results {
  background-color: #EEEEEE;
}
#main {
  padding:0px 150px 0px 150px;
  margin-bottom:15px;
}

.result{
  background-color: white;
  padding: 15px 0 0 0 ;
  margin: 15px;
}
.data {
  padding: 0 0 0 15px;
}

.result img {
  margin: 0 0 0 15px;
  border:0 none;
}